@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: Inter;
}


.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 10px;
}

.header button {
  margin-right: 10px;
  background-color: #b0aec8;
}
