@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* resets */

* {
    font-family: Inter;
    font-size: 1rem;
}

/* library */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
}

.label {
    font-weight: bold;
}

.input {
    border: 2px solid black;
    padding: 5px;
}

.button {
    border: 2px solid black;
    padding: 5px;
    background-color: transparent;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
}

.link:visited {
    color: black
}

.link::before {
    content: '[ ';
}

.link::after {
    content: ' ]';
}

/* custom compos */

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    max-width: 320px;
}