@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: Inter;
}

html, body {
  @apply h-full m-0 p-0;
}

.home-container {
  @apply bg-center bg-cover h-screen;
  background-color: #b0aec8;
}

.header {
  @apply flex justify-between items-center;
}

.header h1 {
  @apply my-5 mr-0  py-5 px-5 text-red-600 border-solid border-4 border-black;
  
}
.time-header{
  @apply size-2.5;
}

.header button {
  @apply mx-2.5;
  background-color: #b0aec8;
}

.header button:nth-of-type(1) {
  @apply ml-[150px] ; 
}

h2 {
 @apply text-center;
}

a { 
  @apply text-black no-underline;
}

.view {
  @apply flex flex-col items-center gap-2.5;
}

.form {
  @apply flex flex-col max-w-60 mt-[-20px];
  gap: 5px;
}

.form-login, .form-register{
  @apply mb-2.5 mt-2.5;
}

.event-select {
  @apply font-bold;
  font-size: 40px; 
}

.event {
  @apply flex justify-center font-bold;
  font-size: medium;
}

.event-container {
  @apply border-2 border-solid border-gray-300 p-5  ml-0 mt-5; 
  background-color: rgb(68, 107, 107);
}
.event-items{
  @apply flex flex-wrap items-center justify-between h-[370px] max-h-[500px] overflow-auto;
}

.event-article {
  @apply bg-white bg-opacity-80 rounded-lg p-2.5 my-2.5;
}

.event-form-container {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-5 border border-gray-300 rounded shadow-md;
}

.serviceButton{
  @apply ml-5;
}

.trash-icon{
  @apply text-white mr-2;
}

.footer {
  @apply bg-white flex justify-center items-center fixed bottom-0 w-full h-12;
}

.footer div, .footer button {
  @apply mr-2.5;
}


.add-event button {
 @apply ml-2.5;    
}

.btn-services{
  @apply flex justify-between;
}

.btn-services button:first-child {
  @apply mr-[40px]; 
}
 .btn-cancel{
  @apply ml-[175px];
}

.event-add, .event-service, .event-time{
  @apply ml-[5px];
}

.link::before {
  content: "[ ";
}
.link::after {
  content: " ]";
}


@media (min-width: 768px) {
  .event-container {
    display: grid;
    grid-template-columns: repeat(2, fr);
  }
}
@media (min-width: 1024px) {
  .event-container {
    display: grid;
    grid-template-columns: repeat(3, fr);
  }
}