@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    font-family: Patua One;
}

body {
    background-image: url('https://imgs.search.brave.com/q2WyWKwJyCM7KiaesHfS6BP6ZR4Ms_-n2QSDzhKvvmA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzQ3L2Q0/LzhjLzQ3ZDQ4Y2Y5/ZmE4ZjMyOWZhZTMz/M2Y4MDY5MTdlNzlj/LmpwZw');
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form {
    color: rgb(43, 40, 40);
    border-style: groove;
    border-radius: 0.50rem;
    border-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
}

.button-submit {
    background-color: rgb(43, 40, 40);
    background-image: none;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
}

.buttons-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(165, 153, 153);
    border-radius: 0.25rem;
    border-style: dashed;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.post {
    border-style: groove;
    border-color: rgb(0, 0, 0);
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.post-img {
    max-width: 320px;
}